<a href="https://colab.research.google.com/github/edward-honour/getting-started-with-python/blob/main/python_getting_started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

# 1. Variables and Data Types
# Assigning values to variables

In [ ]:
name = "John Doe"
age = 30
height = 1.75
is_student = False

In [ ]:
# Printing variables and their types
print("Name:", name, type(name))
print("Age:", age, type(age))
print("Height:", height, type(height))
print("Is student:", is_student, type(is_student))

In [ ]:
# 2. Operators
# Arithmetic operators
num1 = 10
num2 = 3
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Floor Division:", num1 // num2)
print("Modulus:", num1 % num2)
print("Exponentiation:", num1 ** num2)

In [ ]:
# 3. Control Flow
# If-else statement
age = 20
if age >= 18:
    print("Adult")
else:
    print("Minor")

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
# While loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

In [ ]:
# 4. Functions
# Defining a function
def greet(name):
    """This function greets the person passed in as a parameter."""
    print("Hello, " + name + "!")

In [ ]:
# Calling the function
greet("Alice")

In [ ]:
# 5. Lists
# Creating and accessing a list
my_list = [1, 2, 3, "a", "b"]
print("List:", my_list)
print("First element:", my_list[0])
print("Last element:", my_list[-1])

In [ ]:
# Modifying a list
my_list.append("c")
print("Appended list:", my_list)
my_list.insert(2, "new")
print("Inserted list:", my_list)
my_list.remove(1)
print("Removed list:", my_list)

In [ ]:
# 6. Dictionaries
# Creating and accessing a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}
print("Dictionary:", my_dict)
print("Name:", my_dict["name"])

In [ ]:
# Modifying a dictionary
my_dict["age"] = 31
print("Modified dictionary:", my_dict)
my_dict["job"] = "Engineer"
print("Added key-value pair:", my_dict)
del my_dict["city"]
print("Deleted key-value pair:", my_dict)